body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(14, 1, 1);
    display :flex;
    font-weight: bold;
    padding: 8px 14px;        
    border-radius: 6px;     
    transition: all 0.3s ease;
}

nav ul li a:hover{
    background-color: rgba(52, 51, 51, 0.27);
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

div ul li{
    list-style-type: none;
}

img:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
}
h1{
    text-align: center;
}


