body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form{
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(154, 216, 154);
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
h1{
    text-align: center;
}