nav{
    background-color: rgb(224, 249, 244);
    padding: 25px;
    border-radius: 20px;
    margin: 30px;

}

body{
    background-color: rgba(30, 218, 155, 0.27);

}

nav ul li a:hover{
    background-color: rgba(52, 51, 51, 0.27);
    color: white;
    transform: scale(1.05);
    cursor: pointer;
    
}

#ul1{
    font-size: x-large;
    
}




