nav{
    background-color: rgb(224, 249, 244);
    padding: 25px;
    border-radius: 20px;
    margin: 30px;

}

body{
    background-color: rgba(30, 218, 155, 0.27);

}

#ul1{
    padding: 5px;
    font-size: x-large;
    
}



