@media screen and (min-width: 768px){
    body{
        background-color: rgb(224, 249, 224);
    }
    #smedia{
    display: flex;
    justify-content: space-around;
    }
    article{
    width: 350px;
    }
}

@media screen and (max-width: 767px) and (min-width: 300px){
    body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    }
    #smedia{
        display: block;
    }
    article{
        width: 300px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(14, 1, 1);
    display :flex;
    font-weight: bold;
    padding: 8px 14px;        
    border-radius: 6px;     
    transition: all 0.3s ease;
}

nav ul li a:hover{
    background-color: rgba(52, 51, 51, 0.27);
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

nav{
    background-color: silver;
    padding: 15px;
    border-radius: 20px;
}

div ul li{
    list-style-type: none;
}

img:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
}
h1{
    text-align: center;
}
footer {
    text-align: center;
    padding: 20px;
    color: black;
    margin-top: 60px;
    font-size: 15px;
}
img{
    border-radius: 45px;
}