@media screen and (min-width: 768px){
    #Health{
    display: flex;
    width: 750px;
    gap: 15px;
    }
#EDUCATION{
    display: flex;
    width: 700px;
    gap: 15px;
    }
    img{
    width: 200px;
    }
}

@media screen and (max-width: 767px) and (min-width: 300px){
    img{
    width: 320px;
    }
}

nav ul li{
    list-style-type: none;
}

nav{
    background-color: silver;
    padding: 15px;
    border-radius: 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(14, 1, 1);
    display :flex;
    font-weight: bold;
    padding: 8px 14px;        
    border-radius: 6px;     
    transition: all 0.3s ease;
}

nav ul li a:hover{
    background-color: rgba(52, 51, 51, 0.27);
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(224, 249, 224);
}



footer {
    text-align: center;
    padding: 20px;
    color: black;
    margin-top: 60px;
    font-size: 15px;
}