@media screen and (min-width: 787px){
    main{
        display: flex;
        justify-content: space-around;
    }
    img{
        width: 280px;
        border-radius: 10px;
    }
    .news{
        width: 300px;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 10px;
        background-color: rgb(237, 253, 239);
    }
    
}

@media screen and (max-width: 786px) and (min-width: 320px){
    .news{
        width: 320px;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 10px;
        background-color: rgb(237, 253, 239);
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }
    img{
        width: 320px;
        border-radius: 10px;
    }
    main{
        display: block;
    }
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: rgb(224, 249, 224);
    line-height: normal;
}
h1{
    text-align: center;
    color: rgb(33, 70, 52);
    margin-bottom: 30px;
    font-size: 30px;
}
nav{
    background-color: silver;
    padding: 15px;
    border-radius: 20px;
}
nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(14, 1, 1);
    display :flex;
    font-weight: bold;
    padding: 8px 14px;        
    border-radius: 6px;     
    transition: all 0.3s ease;
}

nav ul li a:hover{
    background-color: rgba(52, 51, 51, 0.27);
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}
h2{
    color: rgb(33, 70, 52);
    margin: auto;
    border-left: 4px solid rgb(33, 70, 52);
    padding:  10px;
}
section ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 10px;
}
footer {
    text-align: center;
    padding: 20px;
    color: black;
    margin-top: 60px;
    font-size: 15px;
}
section ul li{
    list-style-type: none;
}
section ul li a{
    text-decoration: none solid;
    color: black;
    font-size: 20px;
}
section ul li a:hover{
    color: purple;
    font-size: 23px;
}
section{
  position: absolute;
  top: 111px;
  right: 30px;
  text-decoration: none;
}
