nav{
    background-color: silver;
    padding: 15px;
    border-radius: 20px;
}
nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(14, 1, 1);
    display :flex;
    font-weight: bold;
    padding: 8px 14px;        
    border-radius: 6px;     
    transition: all 0.3s ease;
}

nav ul li a:hover{
    background-color: rgba(52, 51, 51, 0.27);
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: rgb(224, 249, 224);
    line-height: normal;
}
footer {
    text-align: center;
    padding: 20px;
    color: black;
    margin-top: 60px;
    font-size: 15px;
}
ul{
    width: 350px;
}



